.info-container{
    grid-template-columns: repeat(3, 1fr);
}
.info{
    width: 80%;
}
  /*mobile screen*/
  @media only screen and (max-width: 767px){
    .info{
        min-width: 100px;
        p{
            font-size: 70%;
            span{
                font-size: 180%;
            }
        }
    }
  }