<div class="min-width home-page" >
    <div class="page-title">
        <h1>Medals per Country</h1>
    </div>
    <div class="info-container">
        <div class="info">
            <p>
                Number of JOs<br>
                <span>{{ olympicsNb }}</span>
            </p>
            
        </div>
        <div class="info">
            <p>
                Number of countries<br>
                <span>{{ countriesNb }}</span>
            </p>
        </div>
    </div>

    <div *ngIf="chartOptions.data[0].dataPoints.length>0">
        <canvasjs-chart [options]="chartOptions"></canvasjs-chart>
    </div>
</div>
