/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

*{
    box-sizing: border-box;
}

.info-container{
    margin-top: 30px;
    display: grid;
    margin-bottom: 2.5%;
}
.info{
    background-color: rgb(243, 243, 243); 
    border: 2px solid rgb(116, 221, 160); 
    border-radius: 20px; 
    box-shadow: 1px 5px 5px rgb(128, 128, 128);
    text-align: center;
    vertical-align: middle;
    width: 50%;
    min-width: 150px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    p{
        margin-bottom: 0;
        vertical-align: middle;
        font-size: 16px;
        font-weight:normal;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        span{
            font-size: 28px;
            font-weight: bold;
        }
    }
}
.page-title{
    background-color: rgb(116, 221, 160); 
    border: 2px solid rgb(116, 221, 160); 
    border-radius: 20px; 
    box-shadow: 1px 10px 10px rgb(128, 128, 128);
    color: azure;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 100%;
    margin-bottom: 20px;
    width: 50%;
    min-width: 350px;
}

.min-width{
    min-width: 390px;
}